.button {
  padding: 14px 32px;
  font-family: $main-font;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.8;
  text-decoration: none;
  color: $white-color;
  background-color: $contrast-color;
  border-radius: 50px;

  &:hover {
    opacity: 0.6;
  }
}