@import "../global/variables.scss";

.header-button {
  position: relative;

  &:hover {
    opacity: 0.6;
  }

  &__counter {
    position: absolute;
    top: -4px;
    right: -2px;
    min-width: 10px;
    height: 10px;
    padding: 2px 4px;
    font-weight: 700;
    font-size: 6px;
    line-height: 1.17;
    color: $white-color;
    background-color: $main-color;
    border-radius: 50%;
  }
}