@import "../global/variables.scss";

.main {
  &__title {
    padding: 57px 5.21vw;
    font-family: $main-font;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    color: $main-color;
    text-align: center;
  }
}