@import "../global/variables.scss";

.page {
  background: url("../../img/background/main-bg.svg") no-repeat right bottom;
  overflow: hidden;

  &,
  &__body {
    height: 100vh;
  }

  &__header {
    position: fixed;
    top: 0;
    left: calc(
      var(--nav-width) +
      var(--slide-padding-left) +
      var(--slide-image-width) +
      var(--slide-description-padding-x)
    );
    z-index: 2;
  }

  &__main {
    height: inherit;
    font-family: $main-font;
    font-size: 18px;
    line-height: 1.78;
  }

  &__footer {
    position: absolute;
    bottom: 100px;
    left: calc(var(--nav-width) + var(--slide-padding-left));
    z-index: 2;
  }
}