.range {
  &__scale {
    position: relative;
    height: 4px;
    background-color: #E5E5E5;
    border-radius: 2px;
    transform: rotate(90deg);
  }

  &__bar {
    position: absolute;
    height: 4px;
    background-color: #AF7842;
  }

  &__toggle {
    position: absolute;
    top: calc(50% - 30px);
    width: 60px;
    font-family: $main-font;
    font-weight: 500;
    font-size: 54px;
    line-height: 1.2;
    color: $contrast-color;
    border: none;
    background-color: transparent;
    transform: rotate(-90deg);

    &_start {
      right: 65px;
    }

    &_end {
      left: 300px;
    }
  }
}