@import "../global/variables.scss";

.slide {
  &__body {
    display: grid;
    grid-template-columns: var(--slide-image-width) 1fr;
    padding-left: var(--slide-padding-left);
    align-items: flex-start;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 246px var(--slide-description-padding-x);
    color: $main-color-transparent;
  }

  &__title {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.2;
    color: $main-color;
  }

  &__text {
    max-height: 290px;
    margin-bottom: 40px;
    overflow-y: auto;
  }
}