@import "../global/variables.scss";

.swiper-scrollbar.swiper-scrollbar-vertical, .swiper-vertical > .swiper-scrollbar {
  position: relative;
  height: 200px;
}

.swiper-pagination {
  position: initial;
}

.slider {
  display: grid;
  grid-template-columns: var(--nav-width) 1fr;

  &__scrollbar {
    background-color: $gray-color;
  }

  &__pagination {
    display: contents;

    .swiper-pagination-current, .swiper-pagination-total {
      position: absolute;
      left: 50%;
      font-family: $main-font;
      font-weight: 500;
      font-size: 54px;
      line-height: 1.2;
      color: $contrast-color;
      transform: translateX(-50%);
    }

    .swiper-pagination-current {
      bottom: calc(100% + 15px);
    }

    .swiper-pagination-total {
      top: calc(100% + 15px);
    }
  }

  &__list {
    counter-reset: slides;
  }

  &__item {
    list-style-type: none;
    counter-increment: slides;

    &:after {
      position: absolute;
      bottom: 75px;
      right: 145px;
      font-family: $main-font;
      font-weight: 600;
      font-size: 200px;
      line-height: 1.2;
      color: $white-color;
      text-shadow: -0   -2px 0 #B4977B,
      0   -2px 0 $contrast-color,
      -0 2px 0 $contrast-color,
      0 2px 0 $contrast-color,
      -2px -0 0 $contrast-color,
      2px -0 0 $contrast-color,
      -2px 0 0 $contrast-color,
      2px 0 0 $contrast-color,
      -1px -2px 0 $contrast-color,
      1px -2px 0 $contrast-color,
      -1px 2px 0 $contrast-color,
      1px 2px 0 $contrast-color,
      -2px -1px 0 $contrast-color,
      2px -1px 0 $contrast-color,
      -2px 1px 0 $contrast-color,
      2px 1px 0 $contrast-color,
      -2px -2px 0 $contrast-color,
      2px -2px 0 $contrast-color,
      -2px 2px 0 $contrast-color,
      2px 2px 0 $contrast-color,
      -2px -2px 0 $contrast-color,
      2px -2px 0 $contrast-color,
      -2px 2px 0 $contrast-color,
      2px 2px 0 $contrast-color;
      content: "0" counter(slides);
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
    padding-bottom: 100px;
    border-right: 2px solid #E5E5E5;;
  }

  &__extra-controls {
    position: relative;
  }

  &__arrow {
    position: static;
    min-width: 58px;
    min-height: 79px;
    border: 2px solid $contrast-color;
    border-radius: 50px;
    background: url("../../img/icons/arrow.svg") center no-repeat transparent;
    cursor: pointer;

    &:hover:not(:active) {
      opacity: 0.6;
    }

    &_up {
      transform: rotate(180deg);
    }
  }
}