@import "../global/variables.scss";

.slide-picture {
  position: relative;

  &__caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 42px  112px;
    font-family: $main-font;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    text-align: center;
    color: $white-color;
    background-color: $white-color-transparent;
    backdrop-filter: blur(10px);
  }
}