@import "../global/variables.scss";

.social {
  min-width: 386px;
  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: $main-color;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    list-style-type: none;

    &:hover {
      opacity: 0.6;
    }
  }

  &__link {
    padding: 29px;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
  }
}