@font-face {
  font-family: "Barlow";
  src: url("../../fonts/barlow-regular.woff2") format("woff2"), url("../../fonts/barlow-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../../fonts/barlow-medium.woff2") format("woff2"), url("../../fonts/barlow-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../../fonts/barlow-semibold.woff2") format("woff2"), url("../../fonts/barlow-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../../fonts/barlow-bold.woff2") format("woff2"), url("../../fonts/barlow-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1:not([class]):not(:last-child),
.h1:not(:last-child) {
  margin-bottom: 32px;
}

h2:not([class]):not(:last-child),
.h2:not(:last-child) {
  margin-bottom: 24px;
}

p:not([class]):not(:last-child),
ul:not([class]):not(:last-child),
img:not([class]):not(:last-child),
table:not([class]):not(:last-child),
blockquote:not([class]):not(:last-child) {
  margin-bottom: 16px;
}

li:not([class]):not(:last-child) {
  margin-bottom: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 650px;
}

.page {
  position: relative;
  max-height: 1080px;
  scrollbar-width: thin;
}
.page__body {
  max-width: 1920px;
  background: url("../../img/background/main-bg.svg") no-repeat right bottom;
}
.page__header {
  position: absolute;
  top: 0;
  right: 120px;
  z-index: 2;
}
.page__main {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 1.78;
}
.page__footer {
  position: absolute;
  bottom: 100px;
  left: 521px;
  z-index: 2;
}

.header__button-container {
  margin-left: 50px;
  padding: 29px;
}

.main__title {
  padding: 57px;
  margin-bottom: 150px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  color: #050215;
  text-align: center;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: #050215;
}
.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-nav__item {
  list-style-type: none;
}
.main-nav__item--current {
  color: #B4977B;
}
.main-nav__link {
  padding: 29px;
  text-decoration: none;
  color: inherit;
}
.main-nav__link:hover {
  opacity: 0.6;
}

.header-button {
  position: relative;
}
.header-button:hover {
  opacity: 0.6;
}
.header-button__counter {
  position: absolute;
  top: -4px;
  right: -2px;
  min-width: 10px;
  height: 10px;
  padding: 2px 4px;
  font-weight: 700;
  font-size: 6px;
  line-height: 1.17;
  color: #FFFFFF;
  background-color: #050215;
  border-radius: 50%;
}

.range__scale {
  position: relative;
  height: 4px;
  background-color: #E5E5E5;
  border-radius: 2px;
  transform: rotate(90deg);
}
.range__bar {
  position: absolute;
  height: 4px;
  background-color: #AF7842;
}

.slider {
  display: grid;
  grid-template-columns: 294px 1fr;
  min-height: 963px;
}
.slider__list {
  counter-reset: slides;
}
.slider__item {
  list-style-type: none;
  counter-increment: slides;
}
.slider__item:after {
  position: absolute;
  bottom: 75px;
  right: 430px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 200px;
  line-height: 1.2;
  color: #FFFFFF;
  text-shadow: 0 -2px 0 #B4977B, 0 -2px 0 #B4977B, 0 2px 0 #B4977B, 0 2px 0 #B4977B, -2px 0 0 #B4977B, 2px 0 0 #B4977B, -2px 0 0 #B4977B, 2px 0 0 #B4977B, -1px -2px 0 #B4977B, 1px -2px 0 #B4977B, -1px 2px 0 #B4977B, 1px 2px 0 #B4977B, -2px -1px 0 #B4977B, 2px -1px 0 #B4977B, -2px 1px 0 #B4977B, 2px 1px 0 #B4977B, -2px -2px 0 #B4977B, 2px -2px 0 #B4977B, -2px 2px 0 #B4977B, 2px 2px 0 #B4977B, -2px -2px 0 #B4977B, 2px -2px 0 #B4977B, -2px 2px 0 #B4977B, 2px 2px 0 #B4977B;
  content: "0" counter(slides);
}
.slider__nav {
  max-height: 1023px;
  border-right: 2px solid #E5E5E5;
}

.slide__body {
  display: grid;
  grid-template-columns: 164px 517px 1fr;
}
.slide__image {
  grid-column: 2/3;
}
.slide__description {
  grid-column: 3/-1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 131px 133px;
  color: rgba(5, 2, 21, 0.75);
}
.slide__title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.2;
  color: #050215;
}
.slide__text {
  max-height: 290px;
  margin-bottom: 40px;
  overflow: auto;
}

.button {
  padding: 14px 32px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.8;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #B4977B;
  border-radius: 50px;
}
.button:hover {
  opacity: 0.6;
}

.social {
  min-width: 386px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #050215;
}
.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.social__item {
  list-style-type: none;
}
.social__item:hover {
  opacity: 0.6;
}
.social__link {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */