//Colors

$main-color: #050215;
$main-color-transparent: rgba($main-color, .75);
$contrast-color: #B4977B;
$white-color: #FFFFFF;
$white-color-transparent: rgba($white-color, 0.3);
$gray-color: #E5E5E5;

//Fonts

$main-font: 'Barlow', sans-serif;